ENVIRONMENT=dev

# Current argora deployed version
ARGORA_TXID=xUcR3weH_NXyJJw05h-l_1rmnmrfAn0b8o8oLp2KXuc
PROTOCOL_VERSION=1.2-beta-dev

# The URL where the frontend is deployed. This is needed as the cookies use the same site attribute
FRONTEND_URL=
HOST=localhost

# Twitter developer account consumer key/secret
CONSUMER_KEY=
CONSUMER_SECRET=

# PSQL database
DB_USER=
DB_NAME=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

# Encryption key used to encrypt the access tokens. It must be changed for production
ENCRYPTION_KEY=6C3E08378BC131E1C99A6A70044DC9D0

# Secret used to sign the cookies to ensure no tampering.
COOKIE_SECRET=thisisaverysecretthing

# Cron schedule for how often to fetch new data from Argora
CRON_SCHEDULE=* * * * *
